<!--Student name : Vinay Mattu(301203096),
Subject :COMP229-web application development
Date : 5 feb 2022 -->
<div class="container">
    <div class="copyright">
      &copy; Copyright <strong></strong>
    </div>
    <div class="credits">
      Designed by <span style="color:#64ffda">Vinay Mattu</span>
    </div>
  </div>