<ul>
    <li><a class="home" href="/">Home</a></li>
    <li><a class="about" href="/about">About</a></li>
    <li><a class ="project" href="/project">Project</a></li>
    <li><a class="service" href="service">Service</a></li>
    <li><a class="contact" href="/contact">Contact</a></li>
    <li style="float: right;padding-top: 3px;padding-right: 2%;"><img src="/images/vinay_logo.png" alt="Image Load Error" width="150" height="50" ></li> 
  </ul>