/**Student name : Vinay Mattu(301203096),
Subject :COMP229-web application development
Date : 5 feb 2022 **/


/* (1920x1080) Full HD Display */
@media  screen and (max-width: 1920px) {
  
    .home_section h1{
      padding-top: 3%;
    }
  
    .about_box_2{
      margin-left: 54px !important;
    }

    .box{
      height: 300px;
      width: 422px;
    }
  
  }
  